<!-- Header Partial Template -->
<!-- Use in all page templates to keep code DRY -->


<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>

    <!-- button to show collapsed nav menu on narrow screens -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- nav bar items -- auto-collapse on narrow screens -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="mr-auto nav-item nav-link" href="/urls/new">Create New URL</a>

        <!-- show login & register links if not logged in (user = falsey) -->
        <% if (!user) { %>
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>

        <% } else { %>
          <!-- show user message and logout form (if logged in) -->
          <form action="/logout" method="POST" class="form-inline mr-0 ml-auto align-middle">
            <div class="form-group align-middle">
              <!-- display user (when logged in) -->
              <label for="user" style="margin-right: 1em">Logged In As: <%= user.email %></label>
              <!-- use hidden input to pass the user to the server -->
              <input class="form-control" type="hidden" name="user" value=<%= user %>>
              <button type="submit" class="btn btn-outline-dark">Logout</button>
            </div>
          </form>
        <% } %>
      </div>

  </nav>
</header>